body {
  font-family: 'Helvetica Neue', sans-serif;
}

.r-text {
  color: red;
}

.d-text {
  color: blue;
}

.tossup-text {
  color: #d0a000;
}

.rating-text {
  font-weight: bold;
}

.winner {
  font-weight: bold;
}